<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale Conosco</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/View/pags/css/index.css"> 
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-links">
                <a href="index.html">Home</a>
                <a href="sobre.html">Sobre Nós</a>
                <a href="faleconosco.html">Fale Conosco</a>
            </div>
            <div class="login">
                <img src="/assets/user-icon-svgrepo-com.svg" alt="Login" width="24" height="24">
                <a href="login.php">Login</a>
            </div>
        </nav>
    </header>
    
    <main>
        <section class="welcome-section">
            <div class="content">
                <h1>Fale Conosco</h1>
            </div>
        </section>
        <section class="faleconosco-section">
            <div class="content">
                <h1>Fale Conosco</h1>
                <p>Se você tiver qualquer dúvida ou quiser entrar em contato conosco, use um dos métodos de contato listados abaixo.</p>
                
                <h2>Contato</h2>
                <p><strong>Telefone:</strong> 41 99585-5245</p>
                <p><strong>Email:</strong> nova.era@gmail.com</p>
                <p><strong>Localização:</strong> Praça Gen. Osório, 125 - Centro, Curitiba - PR, 80020-010</p>
            </div>
        </section>
        <section class="social-section" id="social-section">
            <div class="content">
                <h2>Acesse nossas redes sociais!</h2>
                <ul>
                    <li><a href="#"><img src="/assets/facebook-svgrepo-com.svg" alt="Facebook"></a></li>
                    <li><a href="#"><img src="/assets/youtube-svgrepo-com.svg" alt="Youtube"></a></li>
                    <li><a href="#"><img src="/assets/instagram-svgrepo-com.svg" alt="Instagram"></a></li>
                </ul>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Gerenciamento Escolar. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
