/* Estilos básicos para a estrutura */
body {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para a barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #575757;
}

.login {
    display: flex;
    align-items: center;
}

.login img {
    margin-right: 10px;
}

/* Estilos para as seções de conteúdo */
.welcome-section,
.faleconosco-section,
.social-section {
    padding: 50px 20px;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.welcome-section h1,
.faleconosco-section h1,
.social-section h2 {
    margin-bottom: 20px;
}

.welcome-section p,
.faleconosco-section p {
    max-width: 600px;
    margin: 0 auto 20px auto;
}

.faleconosco-section h2,
.social-section h2 {
    margin-bottom: 20px;
}

/* Estilos para o formulário de contato */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

form button:hover {
    background-color: #575757;
}


.error-message {
    color: #c0392b;
    font-size: 14px;
    margin-top: 5px;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
